<div>
  <img
    class="bg-img"
    src="./stylesheets/images/userbackground.webp"
    alt="backgroundimg"
  />
</div>
<nav id="main-navbar" class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#!"><span
        style="color: #C4AE78;"
      >Coffee</span><span style="color: #F9F6F0;">Butler</span></a>
    <!-- Avatar -->
    <img
      src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
      class="rounded-circle"
      height="40"
      alt=""
      loading="lazy"
    />
  </div>
  <!-- Container wrapper -->
</nav>

<div class="card" style="max-width: 20rem;">

  <!-- Card Header -->
  <div class="card-header">
    Menu
  </div>

  <!-- Card Block -->
  <div class="card-body">
    <p class="card-text">Expert opinions are divided. Here's what they say will
      happen next.</p>
  </div>

  <!-- List Group -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item">The Sun will come back</li>
    <li class="list-group-item">The Sun won't come back</li>
    <li class="list-group-item">It will have babies and spawn thousands more
      suns</li>
    <li class="list-group-item">Good night!</li>
  </ul>
</div>
  <div class="pt-1 mb-4">
    <button id="log-out" class="btn btn-dark btn-lg btn-block" type="submit">
      Logout
    </button>
  </div>

  <script src="/javascript/logout.js"></script>