<nav class="navbar fixed-top navbar-expand-lg navbar-light opacity-75" style="background-color:#80461B;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"> CoffeeButler</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#"> Order Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Merch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"></a>
        </li>
      </ul>
       <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto"></ul>
                <form class="d-flex">
                  <button
                    id="log-out"
                    class="btn btn-info my-2 my-sm-0"
                    type="submit"
                  >Log Out</button>
                </form>
            </div>
            
    </div>
    {{!-- functional icons --}}

    {{!-- profile icon --}}
    
    <a><img
      src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
      class="rounded-circle"
      height="40"
      alt=""
      loading="lazy"
    /></a>
  </div>
</nav>

<br>
<br>
<br>



{{!-----Slide Show Begins---  Note:When src your images be sure to copy the image address and paste it in the image src location you would like for it to go --}}
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://t3.ftcdn.net/jpg/03/15/40/34/360_F_315403482_MVo1gSOOfvwCwhLZ9hfVSB4MZuQilNrx.jpg"
        class="d-block w-100"
        alt="first slide"
        height="500px"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://milkandpop.com/wp-content/uploads/2020/11/mocha-latte-13-720x540.jpg"
        class="d-block w-100"
        alt="second slide"
         height="500px"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtwpNJUPNoKtlhNUugpY0UpKEJ287owMH5kw&usqp=CAU"
        class="d-block w-100"
        alt="third slide"
        height="500px"
      />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{{!-- ----slide show ends---- --}}


  <h4> New Order </h4>

  <div class="row">
    {{!-- drink ads carousel column --}}
    <div class="col-md-8">
      <div class="pb-3">
        <div class="row">
          {{!-- Make an order column --}}
          <div class="col-md-6">

            {{!-- Order Box --}}
            <div class="container">
              <div class="card float-right col" style="width: 18rem;">
                {{!-- drink box --}}
                <div  class="card-header text-white" style="background-color:#967969">
                  Drink Order
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="form-check">
                      <label class="form-check-label" for="flexCheckDefault">
                       Small | $23.99
                      </label>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                      
                      <label class="form-check-label" for="flexCheckDefault">
                        Medium | $43.99
                      </label>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                      <label class="form-check-label" for="flexCheckDefault">
                        LARGE | $74.99
                      </label>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="input-group input-group-sm mb-3">
                      
                      <input id="inputorder" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Enter Quantity & Size">
                    </div>
                  </li>
                  <button id ="pobtn" href="#" class="btn text-white" style="background-color:#808000;" type="submit"> Place Order</button>
                </ul>
              </div>
              <br>
              <br>

              
   {{!-- pastries box --}}
              {{!-- <div class="card float-right col" style="width: 18rem;">
                <div class="card-header text-white" style="background-color:#9A2A2A">
                  Tasty Pastries
                </div>
                 <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="input-group input-group-sm mb-3"> --}}
                      {{!-- <span class="input-group-text" id="inputGroup-sizing-sm">Pastry</span> --}}
                      {{!-- <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Enter Quantity & Pastry">
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                      <label class="form-check-label" for="flexCheckDefault">
                       Croissant | $23.00
                      </label>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="form-check">
                      
                      <label class="form-check-label" for="flexCheckDefault">
                        Danish | $24.00
                      </label>
                    </div>
                  </li>
                </ul>
              </div> --}}

              <br>
              <br>
            </div>
          </div>

        </div>
      </div>
    </div>

    {{!-- Pending Orders Column--}}
    <div class="col-md-4">
      <h4> Your Orders</h4>
      <div>
        <div class="card w-75">
          {{!-- order1 --}}
          <div class="card-body">
            <h5 class="card-title"> </h5>
            {{#each orders as |order|}}
        <div>
            <p> You're {{order.drink}} will be right up! </p>
        </div>
        {{/each}}
            <p> Today @ 2:00pm</p>
            <ul class="card-text">
              <div> MenuItem | $Price</div>
              <div> AddOns | $Price</div>
            </ul>
            <a id="cancelO" href="#" class="btn text-white " style="background-color:#800000;" id="delete">Cancel My Order</a>
          </div>
          {{!-- order 2 --}}
          <div class="card-body">
            <h5 class="card-title">HumpDay Special </h5>
            <p> Today @ 2:04pm</p>
            <ul class="card-text">
              <div> MenuItem | $Price</div>
              <div> AddOns | $Price</div>
            </ul>
            <a id="cancelO"  href="#" class="btn text-white" style="background-color:#800000;" id="delete">Cancel My Order</a>
          </div>
        </div>
      </div>
      <br>
      <br>
      {{!-- Previous Orders Section --}}
      <h4> Previous Orders</h4>
      <div>
        <div class="card w-75">
          {{!-- order1 --}}
          <div class="card-body">
            <h5 class="card-title"> </h5>
                      <div> </div>
            <p> </p>
            <ul class="card-text">
    
              <div> AddOns | $Price</div>
            </ul>
            <a id="reorder"  href="#" class="btn text-white " style="background-color:#C4A484;" id="reorder">Reorder</a>
          </div>
          {{!-- order2 --}}
          <div class="card-body">
            <h5 class="card-title">HumpDay Special </h5>
            <p> Date Ordered: 02.13.2023</p>
            <ul class="card-text">
              <div> MenuItem | $Price</div>
              <div> AddOns | $Price</div>
            </ul>
            <a id="reorder"  href="#" class="btn text-white" style="background-color:#C4A484;" id="reorder">Reorder</a>
          </div>
          {{!-- order3 --}}
          <div class="card-body">
            <h5 class="card-title">Latenight Burst </h5>
            <p> Date Ordered: 02.11.2023</p>
            <ul class="card-text">
              <div> MenuItem | $Price</div>

              <div> AddOns | $Price</div>
            </ul>
            <a id="reorder" href="#" class="btn text-white " style="background-color:#C4A484;" id="reorder">Reorder</a>
          </div>


        </div>
      </div>



    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

  <script src="/javascript/logout.js"></script>
   <script src="/javascript/order.js"></script>